body {
  background-color: beige;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

input::placeholder,
textarea::placeholder {
  font-family: "Montserrat", sans-serif;
  color: #aaa;
}

input:focus,
textarea:focus {
  outline: none;
}

a,
nav button {
  text-decoration: none;
  background-color: transparent;
  border: none;
  color: black;
  transition: .4s;
  font-size: 1em;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}

a:hover,
nav button:hover {
  color: #bbb;
}

form {
  margin: 0 auto;
  max-width: 40%;
}
label{
  display: flex;
  flex-direction: column;
  margin: 1em 0;
}
label span{
  margin-bottom: .3em;
  font-weight: bold;
  text-align: left;
}
input,
textarea {
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #ccc;
  padding: .8em 0;
  background-color: transparent;
}
.btn {
  background-color: rgb(0, 0, 0);
  color: white;
  text-align: center;
  cursor: pointer;
  border-radius: 0;
  width: 120px;
  border: none;
  padding: 10px 15px;
  font-size: 1.2em;
  font-family: "Montserrat", sans-serif;
}
.btn:hover {
  background-color: #000;
  color: #fff;
  font-style: bold;
}
.btn:focus {
  outline: none;
  background-color: transparent;
  color: #000;
  border: #000 1px solid;
}
.btn.btn-danger:hover {
  background-color: #f00;
  color: #fff;
}

button[disabled] {
  background-color: #ccc;
  color: #aaa;
}

.container .error{
  color: rgb(255, 253, 253);
  font-size: .8em;
  background-color: rgb(204, 26, 26);
  padding: .5em;
  border-radius: 10px;
  margin: 1em 0;
}